html {
    font-size: 16px;
    background-color: #f6f6f6;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #3584e4;
}
body {
    padding: 0 1em 3em 0;
    margin: 0;
    font-family: Times, serif;
    line-height: 1.428571429;
    color: #666666;
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

/* Court stuffs */

.affaires, .titlebrief, .lp, .avocat {
    width: 55%;
    margin: 2em auto;
    text-align: justify;
    line-height: 1.1;
}
.affaires, .titlebrief {
    text-align: center;
}
.titlebrief {
    width: max-content;
    font-weight: 700;
    font-size: 230%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.affaires p, .titlebrief p, .lp p {
    margin-top: 0.1em;
    margin-bottom:0.1em;
}
.avocat, .brief.sign {
    width: max-content;
    margin: 0 auto;
    font-family: arial, sans-serif;
    font-size: 80%;
}
.avocat p {
    margin: 0;
}
.brief.sign {
    text-align: center;
}

