html {
    font-size: 14px;
    background-color: #f6f6f6;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #3584e4;
}
body {
    padding: 0 1em 3em 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
    color: #666666;
    max-width: 700px;
    margin: auto;
    font-size: 16px;
}
.title-block-header {
    background: white;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0.1em .5em rgba(0,0,0,0.1);
    max-width: 100%;
}
@media (max-width:768px){
.title-block-header {
    margin: 1.5em 0;
}
}
@media (min-width:769px){
.title-block-header {
    margin: 1.5em -25px;
}
}
header .author a {
    text-decoration: none;
}
